@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&family=Sacramento&display=swap");

:root {
  --light-green-color: #a5e060;
  --blue-color: #245de2;
  --pink-color: #ba1244;
}

#root {
  max-width: 400px;
  background: rgb(247, 247, 244);
  background: linear-gradient(
    165deg,
    rgba(247, 247, 244, 1) 50%,
    rgba(63, 111, 6, 1) 100%
  );
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: "Abhaya Libre", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18pt;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  min-height: 100vh;
  background-image: url("./images/background-3.png");
  background-size: 160% auto;
  background-repeat: no-repeat;
  background-position: top center;
}

@media (min-width: 401px) {
  body {
    margin: 1em 0;
    background-color: #e9eae7;
  }
  #root {
    max-width: 700px;
    height: 95vh;
    width: 100%;
    overflow: scroll;
    -webkit-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
  }
  .app {
    background-size: 100% auto;
    background-position: top center;
  }
}

.app-container {
  width: 100%;
}

.app-inner-container {
  padding: 1em;
}

h1 {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  margin-bottom: 0.3em;
  font-size: 4.25rem;
  text-align: center;
  color: white;
}

form {
  display: flex;
}

/* /////////////////////////////ALERT////////////////////////////// */

.alert {
  position: fixed;
  top: 1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 200px;
  width: 50%;
  padding: 0.8em 1em;
  border-radius: 0.7em;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  transform: translateY(-120%);
  opacity: 0;
  transition: transform ease-in 0.5s, opacity ease-in 1s;
}

.alert div {
  display: flex;
  align-items: center;
}

.alert-icon {
  margin-left: 0.5em;
}

.alert-danger {
  transform: translateY(10%);
  opacity: 1;
  color: white;
  background: var(--pink-color);
}

.alert-success {
  transform: translateY(10%);
  opacity: 1;
  color: white;
  background: var(--light-green-color);
}
.alert-success-changed {
  transform: translateY(10%);
  opacity: 1;
  color: white;
  background: var(--blue-color);
}

/* ///////////////////////////ALERT END//////////////////////////// */

input[type="text"] {
  margin: 0;
  width: 100%;
  padding: 1em;
  font-size: 1.2rem;
  border: 0;
  border-radius: 0.7em;
  -webkit-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
}

.list-container {
  display: flex;
  flex-direction: column;

  margin-top: 2em;
  width: 100%;
  /* border: 1px solid magenta; */
}

.list-container .list-item {
  display: flex;
  padding: 0.3em;
  margin-bottom: 1em;
  background: white;
  border-radius: 0.5em;
  transition: opacity 1s;
  -webkit-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
}

.list-item.checked {
  opacity: 0.7;
}

.list-container .list-item button {
  border: none;
  padding: 0.5em 0.7em;
  margin-right: 0.4em;
  background: white;
  border-radius: 0.7em;
  box-shadow: none;
  -webkit-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.12);
}
.icon {
  color: var(--blue-color);
  font-size: 0.9rem;
}

.icon-remove {
  color: var(--pink-color);
}

.list-container .list-item label {
  flex-grow: 1;
  margin-left: 0.5em;
}

input[type="checkbox"] {
  display: none;
  accent-color: #33a457;
}

label {
  margin: auto 0;
  margin-left: 0.2em;
}

button[type="submit"] {
  font-family: "Abhaya Libre";
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  background: var(--light-green-color);
  border: none;
  margin-left: 0.5em;
  padding: 0 1em;
  border-radius: 0.7em;
  -webkit-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.7em;
}

.btn-sorted {
  width: auto;
  background: var(--blue-color) !important;
  -webkit-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
}

.btn-sorted-icon {
  color: white;
}

.btn-clear {
  display: flex;
  background: var(--pink-color);
  color: white;
}

.btn-trash {
  margin-left: 0.7em;
}

.wrapper-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button[type="button"],
span {
  font-family: "Abhaya Libre";
  font-size: 1.2rem;
  font-weight: 800;

  border: none;
  padding: 0.7em 1em;
  border-radius: 0.7em;
  -webkit-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
}

span {
  padding-left: 1em;
  padding-right: 1em;
  background: white;
}

button[type="submit"]:hover,
button[type="submit"]:focus {
  cursor: pointer;
  background: white;
}

button[type="submit"] .submit-icon:hover,
button[type="submit"] .submit-icon:focus {
  color: #f2ca30;
}

.submit-icon {
  color: white;
  font-size: 2rem;
}
